{{- $isDarwin := eq .chezmoi.os "darwin" -}}
{{- $isLinux := eq .chezmoi.os "linux" -}}
{{- $isDevcontainer := or (env "REMOTE_CONTAINERS") (env "CODESPACES") -}}
{{- $brewPrefix := "" -}}
{{- if $isDarwin -}}
{{-   $brewPrefix = "/opt/homebrew" -}}
{{- else if $isLinux -}}
{{-   $brewPrefix = "/home/linuxbrew/.linuxbrew" -}}
{{- end -}}
[user]
	email = tony@tonyburns.net
	name = Tony Burns
{{- if not $isDevcontainer }}
	signingkey = 94F36EBB85C0D03B20378471F4D7520321CEBABB
{{- end }}
[credential "https://github.com"]
	helper =
{{- if $isDevcontainer }}
	helper = !gh auth git-credential
{{- else }}
	helper = !{{ $brewPrefix }}/bin/gh auth git-credential
{{- end }}
[commit]
{{- if not $isDevcontainer }}
	gpgsign = true
{{- end }}
	signoff = true
{{- if not $isDevcontainer }}
[tag]
	gpgsign = true
{{- end }}
[color]
  branch = auto
  diff = auto
  grep = auto
  interactive = auto
  showbranch = auto
  status = auto
  ui = auto
[rerere]
  enabled = true
[merge]
  conflictstyle = diff3
  ff = only
  tool = nvimdiff
[branch]
  autosetuprebase = always
[alias]
  amend = commit -a --amend
  bclean = "!f() { git branch --merged ${1-master} | grep -v " ${1-master}$" | xargs -r git branch -d; }; f"
  bdone = "!f() { git checkout ${1-master} && git up && git bclean ${1-master}; }; f"
  cm = !git add -A && git commit -m
  cob = checkout -b
  ec = config --global -e
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  new = !sh -c 'git log $1@{1}..$1@{0} "$@"'
  save = !git add -A && git commit -m 'SAVEPOINT'
  undo = reset HEAD~1 --mixed
  up = !git pull --rebase --prune $@ && git submodule update --init --recursive
  wip = commit -am "WIP"
  wipe = !git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard
[push]
  default = simple
[difftool]
  prompt = false
[diff]
  tool = nvimdiff
[mergetool]
  keepBackup = false
[core]
	excludesfile = {{ .chezmoi.homeDir }}/.gitignore
[init]
	defaultBranch = main
[status]
	submoduleSummary = true
[credential "https://gist.github.com"]
	helper =
{{- if $isDevcontainer }}
	helper = !gh auth git-credential
{{- else }}
	helper = !{{ $brewPrefix }}/bin/gh auth git-credential
{{- end }}
[pull]
	rebase = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
{{- if not $isDevcontainer }}
[includeIf "gitdir/i:{{ .chezmoi.homeDir }}/Code/github.com/corvinvale/"]
  path = {{ .chezmoi.homeDir }}/Code/github.com/corvinvale/.gitconfig
[includeIf "gitdir/i:{{ .chezmoi.homeDir }}/Code/github.com/evedata/"]
  path = {{ .chezmoi.homeDir }}/Code/github.com/corvinvale/.gitconfig
[includeIf "gitdir/i:{{ .chezmoi.homeDir }}/Code/github.com/owenjacobs/"]
  path = {{ .chezmoi.homeDir }}/Code/github.com/owenjacobs/.gitconfig
[includeIf "gitdir/i:{{ .chezmoi.homeDir }}/Code/github.com/valeantindustries/"]
  path = {{ .chezmoi.homeDir }}/Code/github.com/valeantindustries/.gitconfig
{{- end }}
