{{- $isDarwin := eq .chezmoi.os "darwin" -}}
{{- $isLinux := eq .chezmoi.os "linux" -}}
{{- $isDevcontainer := or (env "REMOTE_CONTAINERS") (env "CODESPACES") -}}

{{ if $isDarwin -}}
# Added by OrbStack: 'orb' SSH host for Linux machines
# This only works if it's at the top of ssh_config (before any Host blocks).
# This won't be added again if you remove it.
Include ~/.orbstack/ssh/config

{{ end -}}
{{ if and $isDarwin (not $isDevcontainer) -}}
Host *
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
  IdentitiesOnly no

{{ else if and $isLinux (not $isDevcontainer) -}}
Host *
  IdentityAgent "~/.1password/agent.sock"
  IdentitiesOnly no

{{ end -}}
Host evedata-htz-eu-fsn-hzl-srv01 evedata-hzl
    HostName 144.76.203.197
    User root

Host evedata-htz-eu-fsn-stg-srv01 evedata-stg
    HostName 157.90.209.174
    User root

Host evedata-htz-eu-fsn-prd-srv01 evedata-prd
    HostName 188.34.142.232
    User root

Host evedata-*
    Port 22
    ForwardAgent no
    Compression yes
    TCPKeepAlive yes
    StrictHostKeyChecking ask
    ServerAliveInterval 60
    ServerAliveCountMax 3
